#chessboard {
    display: grid;
    grid-template-columns: repeat(8,60px);
    grid-template-rows: repeat(8, 60px);
}
.square {
    width: 60px;
    height: 60px;
    display: block;
    font-size: 50px;
    border: 5px solid black;
}
.white {
    background-color: white;
    color: black;
}
.black {
    background-color: black;
    color: white;
}